<div class="w-100">
    <div class="w-100 ">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
    </div>
    <div class="ps-4 w-100 ">
        <div class="my-5">
            <p class="fs-4 fw-medium">Hola Cristian</p>
            <div class="ps-4">    
                
                <!-- Proyectos Recientes -->
                
            </div>
            <div>
                <div *ngIf="listProjects.length == 0" class="ps-4">
                <p>No tienes proyectos aún</p>
            </div>

            <div *ngIf="listProjects.length > 0" class="d-flex flex-wrap justify-content-center w-100 h-100 border boder-3 border-primary">
                <div *ngFor="let project of listProjects" class="card text-center mx-3 my-3" style="width: 18rem;height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.analysis}}</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>


            <!-- <div>
                <table *ngIf="listProjects.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Analisis</th>
                            <th scope="col">Numero de Actividades</th>
                            <th scope="col">Fecha de Creacion</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of listProjects">
                            <td>{{project.title}}</td>
                            <td>{{project.analysis}}</td>
                            <td>{{project.number_activities}}</td>
                            <td>{{project.date_creation}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

        </div>

    </div>
    
    
</div>