<div class="w-100">
    <div class="w-100 ">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
    </div>
    <div class="ps-4 w-100 ">
        <div class="my-5">
            <p class="fs-4 fw-medium">Tus proyectos recientes</p>
            <div class="ps-4">    
                
                <!-- Proyectos Recientes -->
                
            </div>
            <div *ngIf="listProjects.length == 0" class="ps-4">
                <p>No tienes proyectos aún</p>
            </div>
            <div>
                <table *ngIf="listProjects.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Analisis</th>
                            <th scope="col">Numero de Actividades</th>
                            <th scope="col">Fecha de Creacion</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of listProjects">
                            <td>{{project.getTitle}}</td>
                            <td>{{project.getAnalysis}}</td>
                            <td>{{project.getNumberActivities}}</td>
                            <td>{{project.getDateCreation}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
    
</div>


<!-- <td>
    <button [routerLink]="['/edit', product.id]" type="button" class="btn btn-primary btn-sm mr-2">Edit</button>
    <button (click)="deleteProduct(product.id!)" type="button" class="btn btn-primary btn-sm">Delete</button>
</td> -->