<main class="d-flex justify-content-center bg-white" style="height: 75vh;">

        <div class="d-flex align-items-center justify-content-center h-100 border border-secondary border-5 rounded div-general">
                
            <!-- IMG -->
            
            <img class="h-100" src="https://images.pexels.com/photos/5417622/pexels-photo-5417622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img">
            

            <div class="d-flex flex-column justify-content-center h-100  px-5">

                <!-- <div>
                    <i class="fa-solid fa-xmark"></i>
                </div> -->
                
                <div class="mb-3">

                    <p class="text-center fs-3">¡Entra y comienza en Orden!</p>
                    <p class="text-center">Que bueno que empieces a organizar desde ahora!</p>

                </div>
                
                
                <div (click)="goToDashboard()" class="d-flex align-items center border border-5 rounded pt-2 ps-3 mb-3 b-google">
                    <i class="fa-brands fa-google text-center fs-4 m-2" style="color: #383540; height: max-content;"></i>
                    <p class="mt-2">Usar Google</p>
                </div>

                <div class="d-flex align-items-center justify-content-center border border-5 rounded w-75 b-others" style="height: max-content;">
                    <p class="fs-5 text-center mt-3 ">Accede de otra manera</p>
                </div>
            </div>

        </div>



</main>
